/*-- scss:defaults --*/

// Background colours
$navbar-bg: #8B0000;
$footer-bg: #8B0000;
$card-bg: #f8f9fa;

// Code blocks
$code-block-bg-alpha: -.8;

/*-- scss:rules --*/

.custom-grid-card {
  --bs-card-bg: #{$card-bg};
}