/*-- scss:defaults --*/

// Background colours
$navbar-bg:#009c92;
$footer-bg: #009c92 ;

// Code blocks
$code-block-bg-alpha: -.8;

/*-- scss:rules --*/

.custom-grid-card {
  --bs-card-bg:rgb(0, 49, 46);
}

.custom-grid-card .title-link {
  color: #ffffff
}