name: Generate Quarto page from Issue Form
on:
  issues:
    types: [opened, edited, labeled]

jobs:
  generate:
    if: contains(github.event.issue.labels.*.name, 'project_package_tool_submission')
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: read
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Extract issue data
        id: extract
        uses: zentered/issue-forms-body-parser@v3
        with:
          issue-body: ${{ github.event.issue.body }}

      - name: Create QMD file
        run: |
          mkdir -p submissions
          cat > submissions/${{ steps.extract.outputs.model_name }}.qmd <<EOF
          ---
          title: "${{ steps.extract.outputs.model_name }}"
          categories: ["${{ steps.extract.outputs.category }}"]
          author:
            - name: "${{ steps.extract.outputs.author }}"
              affiliation: HSMA
              linkedin:
              website: 
              orcid:
          repo: "${{ steps.extract.outputs.repo }}"
          title-block-banner: ../../banner.png
          status: '<span style="color: #893400FF">Bronze</span>''<span style="color: #888888FF">Silver</span>''<span style="color: #D18B12FF">Gold</span>'
          image: 
          pub-info:
            language: '<i class="fa-brands fa-python"></i>'
            abstract: |
              "${{ steps.extract.outputs.summary }}"
            links:
            - name: Code
              url: "${{ steps.extract.outputs.code }}"
              icon: fa-brands fa-github
            - name: Documentation
              url: "${{ steps.extract.outputs.documentation }}"
              icon: fa-solid fa-book
            - name: Paper
              url: "${{ steps.extract.outputs.paper }}"
              icon: fa-solid fa-file-contract
            - name: PyPi
              url: "${{ steps.extract.outputs.pypi }}"
              icon: fa-solid fa-brands fa-python
            - name: CRAN
              url: "${{ steps.extract.outputs.cran }}"
              icon: fa-solid fa-brands fa-r-project
            - name: Website
              url: "${{ steps.extract.outputs.website }}"
              icon: fa-solid fa-globe
          ---

          ## Status Reason
          "${{ steps.extract.outputs.status_reason }}"

          ## Language
          ["${{ steps.extract.outputs.language }}"]

          ${{ steps.extract.outputs.language_other }}
          
          ## Methodology
          ${{ steps.extract.outputs.methodology }}

          ## Additional Links
          ["${{ steps.extract.outputs.other_urls }}"]

          ## Additional Categories
          {{ steps.extract.outputs.methodology }}
          
          EOF

      - name: Commit and open PR
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: "Add package, tool or project: ${{ steps.extract.outputs.model_name }}"
          branch: add-${{ steps.extract.outputs.model_name }}
          title: "Add package, tool or project: ${{ steps.extract.outputs.model_name }}"
          body: "Auto-generated from issue #${{ github.event.issue.number }}"
