name: Generate Quarto page from Issue Form
on:
  issues:
    types: [opened, edited, labeled]
jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: read
      pull-requests: write
    if: |
      (
        github.event.action == 'opened' && 
        contains(join(github.event.issue.labels.*.name, ','), 'project_package_tool_submission')
      ) || 
      (
        github.event.action == 'labeled' &&
        github.event.label.name == 'project_package_tool_submission'
      )
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Extract issue data
        id: extract
        uses: issue-ops/parser@4.2.0
        with:
          issue-body: ${{ github.event.issue.body }}
      - name: Create QMD file
        run: |
          mkdir -p submissions
          cat > submissions/${{ fromJSON(steps.extract.outputs.json).model_name }}.qmd <<EOF
          ---
          title: "${{ fromJSON(steps.extract.outputs.json).model_name }}"
          categories: ["${{ fromJSON(steps.extract.outputs.json).category }}"]
          author:
            - name: "${{ fromJSON(steps.extract.outputs.json).author }}"
              affiliation: HSMA
              linkedin:
              website: 
              orcid:
          title-block-banner: ../../banner.png
          status: '<span style="color: #893400FF">Bronze</span> <span style="color: #888888FF">Silver</span> <span style="color: #D18B12FF">Gold</span>'
          image: 
          pub-info:
            language: '<i class="fa-brands fa-python"></i>'
            abstract: |
              "${{ fromJSON(steps.extract.outputs.json).summary }}"
            links:
            - name: Code
              url: "${{ fromJSON(steps.extract.outputs.json).code }}"
              icon: fa-brands fa-github
            - name: Documentation
              url: "${{ fromJSON(steps.extract.outputs.json).documentation }}"
              icon: fa-solid fa-book
            - name: Paper
              url: "${{ fromJSON(steps.extract.outputs.json).paper }}"
              icon: fa-solid fa-file-contract
            - name: PyPi
              url: "${{ fromJSON(steps.extract.outputs.json).pypi }}"
              icon: fa-solid fa-brands fa-python
            - name: CRAN
              url: "${{ fromJSON(steps.extract.outputs.json).cran }}"
              icon: fa-solid fa-brands fa-r-project
            - name: Website
              url: "${{ fromJSON(steps.extract.outputs.json).website }}"
              icon: fa-solid fa-globe
          ---
          ## Status Reason
          "${{ fromJSON(steps.extract.outputs.json).status_reason }}"
          ## Language
          ["${{ fromJSON(steps.extract.outputs.json).language }}"]
          ${{ fromJSON(steps.extract.outputs.json).language_other }}
          
          ## Methodology
          ${{ fromJSON(steps.extract.outputs.json).methodology }}
          ## Additional Links
          ["${{ fromJSON(steps.extract.outputs.json).other_urls }}"]
          ## Additional Categories
          ${{ fromJSON(steps.extract.outputs.json).methodology }}
          
          EOF
      - name: Commit and open PR
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: "Add package, tool or project: ${{ fromJSON(steps.extract.outputs.json).model_name }}"
          branch: add-${{ fromJSON(steps.extract.outputs.json).model_name }}
          title: "Add package, tool or project: ${{ fromJSON(steps.extract.outputs.json).model_name }}"
          body: "Auto-generated from issue #${{ github.event.issue.number }}"
