name: Quarto Check for Tools, Packages and Techniques Submission from Form
on:
  workflow_run:
    workflows: [" Generate Quarto page from Issue Form"]  # name of your PR-creating workflow
    types:
      - completed
jobs:
  check:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_branch }}
      - uses: quarto-dev/quarto-actions/setup@v2
      - name: Render (test build)
        run: quarto render
